trunk/ClientesCasa/Web References/wsNomina/ws_catalogosToken.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="GetTokenAcceso">
        <s:complexType />
      </s:element>
      <s:element name="GetTokenAccesoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTokenAccesoResult" type="tns:TokenAcceso" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="TokenAcceso">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s1:guid" />
          <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Token" type="s1:guid" />
        </s:sequence>
      </s:complexType>
      <s:element name="SoapHeaderAccess" type="tns:SoapHeaderAccess" />
      <s:complexType name="SoapHeaderAccess">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Usuario" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="GetCatalog">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pDataBase" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pCatCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCatalogResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCatalogResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SoapHeaderToken" type="tns:SoapHeaderToken" />
      <s:complexType name="SoapHeaderToken">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="TokenAcceso" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="TokenAcceso" nillable="true" type="tns:TokenAcceso" />
      <s:element name="DataSet" nillable="true">
        <s:complexType>
          <s:sequence>
            <s:element ref="s:schema" />
            <s:any />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetTokenAccesoSoapIn">
    <wsdl:part name="parameters" element="tns:GetTokenAcceso" />
  </wsdl:message>
  <wsdl:message name="GetTokenAccesoSoapOut">
    <wsdl:part name="parameters" element="tns:GetTokenAccesoResponse" />
  </wsdl:message>
  <wsdl:message name="GetTokenAccesoSoapHeaderAccess">
    <wsdl:part name="SoapHeaderAccess" element="tns:SoapHeaderAccess" />
  </wsdl:message>
  <wsdl:message name="GetCatalogSoapIn">
    <wsdl:part name="parameters" element="tns:GetCatalog" />
  </wsdl:message>
  <wsdl:message name="GetCatalogSoapOut">
    <wsdl:part name="parameters" element="tns:GetCatalogResponse" />
  </wsdl:message>
  <wsdl:message name="GetCatalogSoapHeaderToken">
    <wsdl:part name="SoapHeaderToken" element="tns:SoapHeaderToken" />
  </wsdl:message>
  <wsdl:message name="GetTokenAccesoHttpGetIn" />
  <wsdl:message name="GetTokenAccesoHttpGetOut">
    <wsdl:part name="Body" element="tns:TokenAcceso" />
  </wsdl:message>
  <wsdl:message name="GetCatalogHttpGetIn">
    <wsdl:part name="pDataBase" type="s:string" />
    <wsdl:part name="pCatCode" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetCatalogHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="GetTokenAccesoHttpPostIn" />
  <wsdl:message name="GetTokenAccesoHttpPostOut">
    <wsdl:part name="Body" element="tns:TokenAcceso" />
  </wsdl:message>
  <wsdl:message name="GetCatalogHttpPostIn">
    <wsdl:part name="pDataBase" type="s:string" />
    <wsdl:part name="pCatCode" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetCatalogHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:portType name="ws_catalogosTokenSoap">
    <wsdl:operation name="GetTokenAcceso">
      <wsdl:input message="tns:GetTokenAccesoSoapIn" />
      <wsdl:output message="tns:GetTokenAccesoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCatalog">
      <wsdl:input message="tns:GetCatalogSoapIn" />
      <wsdl:output message="tns:GetCatalogSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ws_catalogosTokenHttpGet">
    <wsdl:operation name="GetTokenAcceso">
      <wsdl:input message="tns:GetTokenAccesoHttpGetIn" />
      <wsdl:output message="tns:GetTokenAccesoHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCatalog">
      <wsdl:input message="tns:GetCatalogHttpGetIn" />
      <wsdl:output message="tns:GetCatalogHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ws_catalogosTokenHttpPost">
    <wsdl:operation name="GetTokenAcceso">
      <wsdl:input message="tns:GetTokenAccesoHttpPostIn" />
      <wsdl:output message="tns:GetTokenAccesoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCatalog">
      <wsdl:input message="tns:GetCatalogHttpPostIn" />
      <wsdl:output message="tns:GetCatalogHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ws_catalogosTokenSoap" type="tns:ws_catalogosTokenSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTokenAcceso">
      <soap:operation soapAction="http://tempuri.org/GetTokenAcceso" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetTokenAccesoSoapHeaderAccess" part="SoapHeaderAccess" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCatalog">
      <soap:operation soapAction="http://tempuri.org/GetCatalog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetCatalogSoapHeaderToken" part="SoapHeaderToken" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ws_catalogosTokenSoap12" type="tns:ws_catalogosTokenSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTokenAcceso">
      <soap12:operation soapAction="http://tempuri.org/GetTokenAcceso" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetTokenAccesoSoapHeaderAccess" part="SoapHeaderAccess" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCatalog">
      <soap12:operation soapAction="http://tempuri.org/GetCatalog" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetCatalogSoapHeaderToken" part="SoapHeaderToken" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ws_catalogosTokenHttpGet" type="tns:ws_catalogosTokenHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="GetTokenAcceso">
      <http:operation location="/GetTokenAcceso" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCatalog">
      <http:operation location="/GetCatalog" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ws_catalogosTokenHttpPost" type="tns:ws_catalogosTokenHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="GetTokenAcceso">
      <http:operation location="/GetTokenAcceso" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCatalog">
      <http:operation location="/GetCatalog" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ws_catalogosToken">
    <wsdl:port name="ws_catalogosTokenSoap" binding="tns:ws_catalogosTokenSoap">
      <soap:address location="http://abaco.isinom.net/WS_ISI/ws_catalogosToken.asmx" />
    </wsdl:port>
    <wsdl:port name="ws_catalogosTokenSoap12" binding="tns:ws_catalogosTokenSoap12">
      <soap12:address location="http://abaco.isinom.net/WS_ISI/ws_catalogosToken.asmx" />
    </wsdl:port>
    <wsdl:port name="ws_catalogosTokenHttpGet" binding="tns:ws_catalogosTokenHttpGet">
      <http:address location="http://abaco.isinom.net/WS_ISI/ws_catalogosToken.asmx" />
    </wsdl:port>
    <wsdl:port name="ws_catalogosTokenHttpPost" binding="tns:ws_catalogosTokenHttpPost">
      <http:address location="http://abaco.isinom.net/WS_ISI/ws_catalogosToken.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>